.login {
  width: 50%;
}

.login-container {
  min-height: calc(80vh - (63px + 86px));
}

.silent-text {
  display: flex;
  opacity: 0.8;
  color: #3f51b5;
  text-decoration: none;
  font-size: .85rem;
  margin-bottom: 20px !important;
}

.silent-text:hover {
  text-decoration: underline !important;
}