.auth-post-action {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
}

.edit-btn {
  color: white !important;
  width: 80%;
  margin-left: 10px;
}

.delete-btn {
  color: white !important;
  background-color: red !important;
  width: 80%;
  margin-right: 10px;
}

.card-edit-btn:hover {
  background-color: #835d4f;
}