.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c99480;
  padding: 10px 50px;
}

.logo {
  width: 40px;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}

.profile-logo {
  transform: scale(1.3);
  color: white;
  cursor: pointer;
}

.exit-logo-container {
  margin-left: 10px !important;
}


.right {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  vertical-align: middle;
  align-self: center;
  flex-direction: column;
}

.add-new-post {
  display: flex;
  align-items: center;
  margin-right: 10px !important;
  padding: 5px 10px;
}

.post-add-icon {
  color: white;
  background: #c99480;
  /* margin-right: 10px; */
  border-radius: 2px;
}


@media only screen and (max-width: 600px) {
  .add-new-post {
    margin-right: 2px !important;
    font-size: 10px !important;
  }

  .header-container {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 320px) {
  .add-new-post {
    min-width: 40px !important;
  }
}